

# Entornos virtuales
.venv/
venv/
env/

#archivos pdf
*.pdf
#carpeta Data
Data/
*.txt
/__pycache__/
data/
*.json
*.ipynb
normalizar_diccionario.py
parser_*.py
normalizador_*.py 
!normalizador_simple.py
vscode.deb
